<!-- <ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="header">
    <h2>Proyectos</h2>
    <div class="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-input type="text" placeholder="Buscar"></ion-input>
    </div>
    <div class="filter">
      <ion-icon name="filter-circle-outline"></ion-icon>
      <h3>Filtrar por..</h3>
    </div>
  </div>

  <div class="proj" *ngFor="let proj of projects">
    <div class="info-img circle">
        <img [src]="proj.picture" alt="">
  
      <ion-icon slot="start" name="add"></ion-icon>
      <h3>hola</h3>
    </div>

    <div class="desc-image">
      <img [src]="proj.picture" alt="">
    </div>

    <div class="info-proj">
      <h2>{{proj.name}}</h2>
      <h3>{{proj.descResume}}</h3>
      <p>{{proj.vision}}</p>
    </div>
  </div>

  <app-porjects></app-porjects>
  <app-projects></app-projects>
</ion-content>

