ion-header{
  --height: 50px;
}

ion-toolbar{
  height: 30px;
}
ion-content{
  position: relative;
  top: -30px;
  --background: linear-gradient(var(--ion-color-primary-contrast), #fff);
}
.header{
  padding:20px;
  margin: 20px 0px;
  h2{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 30px;
  }

  .search, .filter{
    margin: 25px 0px;
    background: linear-gradient(0deg, #ffffff,var(--ion-color-medium-contrast));
    border-radius: 21px;
    height: 42px;
    padding: 8px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* box-shadow: 2px 1px 10px var(--ion-color-dark), -2px -2px 2px var(--ion-color-secondary-contrast) ; */
    box-shadow: -4px -2px 4px #FFFFFF, 4px 2px 4px rgba(136, 165, 191, 0.12);
    ion-icon{
      height: 28px;
      width: 28px;
    }
    &:hover{
      border: 2px solid var(--ion-color-primary-shade);
    }
  }

  .filter{
    justify-content: start;
    h3{
      color:rgba(0,0,0,0.7);
      font-size: 16px;
      margin: 15px;
      font-weight: 200;
    }
  }
}