ion-header{
  --height: 50px;
}

ion-toolbar{
  height: 30px;
}
ion-content{
  position: relative;
  top: -30px;
 /*  --background: linear-gradient(var(--ion-color-primary-contrast), #fff); */
 --background: var(--ion-color-primary-contrast);
}
.header{
  padding:20px 20px 50px;
  margin: 20px 0px;
  position: sticky;
  top: -52px;
  width: 100%;
  background: linear-gradient(
    0deg
    , #ffffff00 50%, var(--ion-color-secondary-contrast) 65%);
  transition: 300ms ease all;
  background-size: 200% 200%;
  background-position: 0% 30%;
  z-index: 300;
  h2{
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 30px;
  }

  &:focus-within{
   /*  background: linear-gradient(0deg, #ffffff00 5%, var(--ion-color-secondary-contrast) 20%); */
   background-position: 0% 0%;
  }

  .search, .filter{
    margin: 25px 0px;
    position: -webkit-sticky;
    top: 0px;
    border-radius: 21px;
    height: 42px;
    padding: 8px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* box-shadow: 2px 1px 10px var(--ion-color-dark), -2px -2px 2px var(--ion-color-secondary-contrast) ; */
    box-shadow: -2px -4px 4px rgba(255,255,255, 0.5), 4px 2px 4px #8d4e0005;
    border: 0px solid rgba(0,0,0,0);
    transition: all 200ms ease;
/*     ion-input{
      --placeholder-font-style: 'Red Hat Display', sans-serif;
    } */
    ion-icon{
      height: 28px;
      width: 28px;
    }
    &:hover{
      border:1px solid var(--ion-color-secondary);
      /* box-shadow: -8px -4px 8px rgba(255,255,255, 0.8), 4px 2px 16px #8d4e0015; */
      box-shadow: 8px 4px 8px rgba(255,255,255, 0.8), -4px -2px 8px #8d4e0005;
    }
  }

  .filter{
    justify-content: start;
    margin-bottom: 0px;
    h3{
      color:rgba(0,0,0,0.5);
      font-size: 16px;
      margin: 12px 4px;
      font-weight: 200;
    }
    ion-icon{
      height: 30px;
      width: 30px;
    }
  }
}

/* projects component css */

.proj{
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  box-shadow: -2px -4px 12px rgb(255 255 255 / 80%), 4px 2px 10px #8d4e0020;
  background: linear-gradient(var(--ion-color-primary-contrast),   var(--ion-color-tertiary-contrast), var(--ion-color-secondary-contrast));
  margin: 20px 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 300ms ease all;
  &:hover{
    transform: scale(1.1);
  }

  .circle{
    border-radius: 400px;
    width: 800px;
    height: 800px;
    top: -220px;
    left: calc(-800px + 28%);
    position: absolute;
    z-index: 2;
    /* border: 3px solid black; */
    overflow: hidden;
    img{
      position: absolute;
      top: 220px;
      left: calc(800px - 12.5%);
    }
  }

  .desc-image{
    img{
      max-width: fit-content;
      border: 0;
      position: absolute;
      z-index: -2;
      filter: blur(6px);
      opacity: 0.6;
    }
  }

  .info-proj{
    min-width: 250px;
    width: 60%;
    position: relative;
    left: 30%;
    h2{
      margin-left: -25px;
      font-weight: 900;
    }
  
  }
}